$brand: #797DDC;
$color-gray: #828282;

$iconSize: 70px;
$shutterButtonSize: 110px;

$projectsListIndex: 125;
$controlsIndex: 75;
$projectListIndex: 100;
$cameraViewIndex: 50;
$settingsMenuIndex: 150;

$spaceFromSides: 32px;
$projectTitleHeight: 54px;

$screenRevealSpeed: .3s;
$heroPhotoResize: .6s;


@mixin iconButtonPlacement {
	position: absolute;
	bottom: 40px;
}

@mixin projectImageProperties {
	margin: 0 10px;
	border-radius: 5px;
	box-shadow: 0 6px 44px rgba(0,0,0,.2);
	width: 300px;
	height: 400px;
	min-width: 300px;
}

body {
	color: white;
	font-family: "Avenir";
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-height: 100vh;

	* {
		box-sizing: border-box;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

#video {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: $cameraViewIndex + 1; 
  overflow: hidden;
}

.screen {
	width: 100vw;
	height: 0;
	position: relative;
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease-in-out;

	&.active {
		height: 100vh;
		opacity: 1;
		pointer-events: initial;
	}

	&.projectList {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 100%;
		background-color: white;
		z-index: $projectListIndex;
		transition: all $screenRevealSpeed ease-in-out, 0s opacity $screenRevealSpeed ease-in-out;
		box-shadow: 0 -10px 20px rgba(0,0,0,.4);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		overflow: hidden;

		&.active {
			bottom: 0;
			transition: all $screenRevealSpeed ease-in-out, 0s opacity ease-in-out;
			border-radius: 0px;
		}

		.closeProjects {
			position: absolute;
		}
	}

	&.photoOverlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-position: center;
		background-size: cover;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: $cameraViewIndex;
		display: flex;
		align-content: center;
		justify-content: center;
		-webkit-backdrop-filter: blur(10px);
		transition: all .2s ease-in-out;


		&.listMode {

			.projectImageCarousel {
				overflow-x: scroll;

				.projectImage {
					transition: all $heroPhotoResize ease-in-out;

					&.hero {
						margin: 0 10px;
					    min-height: 400px;
					    min-width: 300px;
					    border-radius: 5px;
					}
				}
			}

		}
	}

}

.appOverlay {
	width: 100vw;
	height: 100vh;
}

.iconButton__container {
	position: fixed;
	z-index: $controlsIndex;

	&.top {
		top: calc( env(safe-area-inset-top) + 8px );

		&.right {
			right: 16px;
		}

		&.left {
			left: 16px;
		}
	}

	&.bottom {
		bottom: calc( env(safe-area-inset-top) + 8px );

		&.right {
			right: $spaceFromSides;
		}

		&.left {
			left: $spaceFromSides;
		}

		&.middle {
			left: 50%;
			margin-left: -($iconSize/2);
		}
	}

	&.projectListSelector {
		z-index: $projectsListIndex;

		i {
			transition: all .3s ease-in-out;

			&[class*="times"] {
				opacity: 0;
			}
		}

		&.active {
			.iconButton {
				background-color: $brand;

				i {
					transform: rotate(180deg);
					color: white;

					&[class*="bars"] {
						opacity: 0;
					}

					&[class*="times"] {
						opacity: 1;
					}
				}
			}
		}
	}

	&.cameraOptions {

		> .iconButton {
			display: flex;
			margin-top: 24px;
			transition: all .2s ease-in-out;
		}

		[class*="fa-camera"] {
			opacity: 0;
		}

		&.active {
			> .iconButton {
				margin-top: -70px;
			}

			[class*="fa-camera"] {
				opacity: 1;
			}

			[class*="fa-pencil-alt"] {
				opacity: 0;
			}
		}
	}
}

.projectTitle__container {
	position: absolute;
	top: calc( env(safe-area-inset-top) + 16px);
	left: 50%;
	transform: translate(-50%, 0);
    height: $projectTitleHeight;
    max-height: $projectTitleHeight;
    background-color: rgba(black,.35);
    border-radius: 50%;
    text-align: center;
    border-radius: 27px;
    padding: 0 32px;
    margin: 0 auto;
    z-index: $controlsIndex;
    -webkit-backdrop-filter: blur(10px);

	.projectTitle {
	    line-height: $projectTitleHeight;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: clip;
	    color: white;
	    transition: all .3s ease-in-out;
	    cursor: pointer;

	    &:after {
	    	margin-left: 16px;
    		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0d7";
	    }
	}

	&.disable-dropdown {
		.projectTitle {
			&:after {
				content: none;
			}
		}
	}

    &.purple {
    	background-color: rgba(black, 0);
    	-webkit-backdrop-filter: blur(0px);

    	.projectTitle {
    		color: $brand;
    	}
    }
}

.projectSubtitle {
	position: absolute;
	left: 0;
	top: 54px;
	right: 0;
}

.projectImageCarousel {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: flex-start;

	.projectImage {
		@include projectImageProperties();
		background-color: white;
		background-size: cover;
		background-image: url("assets/5B2C9603.jpg");
		transition: all $heroPhotoResize ease-in-out;
		background-position: top center;

		&.hero {
			margin: 0;
			max-height: 100vh;
			max-width: 100vw;
		    min-height: 100vh;
		    min-width: 100vw;
		    border-radius: 0;
		}
	}
}

.shutterButton {
	width: $shutterButtonSize;
	height: $shutterButtonSize;
	border: 10px solid white;
	position: fixed;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50%;
	z-index: $controlsIndex;
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(0,0,0,.1);
	transition: background-color .4s ease-in-out;
	opacity: 0;
	pointer-events: none;
	transition: .2s ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: initial;
	}

	&:hover {
		cursor: pointer;
	}

	&:active {
		background-color: rgba(white, 1);
		transition: background-color .05s ease-in-out;
	}
}

.alphaSlider {
	$alphaSliderWIdth: 44px;
	height: 0px;
	width: $alphaSliderWIdth;
	-webkit-backdrop-filter: 10px;
	background-color: rgba(black, .3);
    border-radius: $alphaSliderWIdth/2;
	-webkit-backdrop-filter: blur(10px);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	transition: height .3s ease-in-out;

	.alphaStatus {
		background-color: rgba(white, .35);
		height: 45%;
		width: 100%;
		bottom: 0;
		position: absolute;
		transition: height .3s ease-in-out;
	}

	&.show {
		height: 200px;
	}
}

.iconButton,
.textButton {
    height: $iconSize;
    line-height: $iconSize;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.3);
    outline: none;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
	-webkit-backdrop-filter: blur(10px);
	display: none;
	position: relative;
	transition: all .6s ease-in-out;

    &:hover {
    	cursor: pointer;
    }

    &.show {
    	display: flex;
    }

    &.white {
		color: $brand;
		background-color: white;

	    &:active,
	    &:hover {
	    	background-color: rgba(black,.1);
	    }
    }

    &.purple {
		background-color: $brand;
		color: white;

	    &:active,
	    &:hover {
	    	background-color: darken($brand,5%);
	    }
    }

		.settings {
			position: absolute;
		}

    &:active,
    &:hover {
    	transition: 0s;
    	background-color: rgba(black,.5);
    }
}

.iconButton {
    width: $iconSize;

    > i {
    	line-height: $iconSize;
    	width: $iconSize;
    	height: $iconSize;
    	pointer-events: none;
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    }
}

.textButton {
	width: auto;
	height: $projectTitleHeight;
	padding: 0 34px;
	border-radius: $iconSize/2;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.38;
	line-height: $projectTitleHeight;
}

// .projectList__wrapper {
// 	position: relative;

// 	&:before,
// 	&:after {
// 		content: "";
// 		position: absolute;
// 		right: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 24px;
// 		background-color: rgba(white, .5);
// 		background: rgb(255,255,255);
// 		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
// 	}

// 	&:before {
// 		top: 0;
// 	}

// 	&:after {
// 		bottom:0;
// 		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
// 	}
// }

.project__list {
	padding: 24px $spaceFromSides 0 $spaceFromSides;
	overflow-y: scroll;
	margin-top: 80px;
	max-height: calc(100vh - 80px);

	.project__item {
	    width: 100%;
	    height: 100px;
	    border-radius: 50px;
	    background-color: white;
	    box-shadow: 0 3px 25px rgba(black, .12);
	    display: flex;
	    overflow: hidden;
	    margin: 16px 0;

		&.active {
		    box-shadow: 0 0 0 3px $brand, 0 3px 25px rgba(black, .12);
		}
	}

    .project__thumb {
    	width: 100px;
    	min-width: 100px;
    	height: 100px;
    	background-color: $brand;
    	border-radius: 50%;
		background-image: url("assets/5B2C9603.jpg");
		background-size: cover;

    }

    .project__text {
    	width: 100%;
    	align-self: center;
    	padding: 0 26px;
    }

    .project__title {
    	margin-bottom: 10px;
    	font-weight: 600;
    	font-size: 18px;
    	line-height: 1;
    	color: $brand;
    }

    .project__reminder {
    	color: $color-gray;
    }
}

.settingsMenu {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: scroll;
	background-color: white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 100%;
	transition: right $screenRevealSpeed ease-in-out, 0s opacity $screenRevealSpeed ease-in-out;
	z-index: $settingsMenuIndex;
	box-shadow: 0 -10px 20px rgba(0,0,0,.4);

	.settingControls {
		padding-left: $spaceFromSides;
		padding-right: $spaceFromSides;
		background-color: transparent;
		position: relative;
		top: 20vh;
	}

	.iconButton__container {
		z-index: $settingsMenuIndex + 100;
	}

	&.active {
		right: 0;
		transition: right $screenRevealSpeed ease-in-out, opacity 0s ease-in-out;
	}
}

.text--title {
    font-weight: 600;
    color: $brand;
    font-size: 18px;
}

.text--subtitle {
	color: $color-gray;
	font-size: 14px;
	font-weight: 200;
}

.touch-scrolling {
	-webkit-overflow-scrolling: touch;
}