body {
  color: white;
  font-family: "Avenir";
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100vh; }
  body * {
    box-sizing: border-box; }
  body ul {
    margin: 0;
    padding: 0; }

#video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 51;
  overflow: hidden; }

.screen {
  width: 100vw;
  height: 0;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease-in-out; }
  .screen.active {
    height: 100vh;
    opacity: 1;
    pointer-events: initial; }
  .screen.projectList {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
    transition: all 0.3s ease-in-out, 0s opacity 0.3s ease-in-out;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .screen.projectList.active {
      top: 0;
      transition: all 0.3s ease-in-out, 0s opacity ease-in-out;
      border-radius: 0px; }
  .screen.photoOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-content: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    transition: all .2s ease-in-out; }
    .screen.photoOverlay.listMode .projectImageCarousel {
      overflow-x: scroll; }
      .screen.photoOverlay.listMode .projectImageCarousel .projectImage {
        transition: all 0.6s ease-in-out; }
        .screen.photoOverlay.listMode .projectImageCarousel .projectImage.hero {
          margin: 0 10px;
          min-height: 400px;
          min-width: 300px;
          border-radius: 5px; }

.appOverlay {
  width: 100vw;
  height: 100vh; }

.iconButton__container {
  position: fixed;
  z-index: 75; }
  .iconButton__container.top {
    top: calc( env(safe-area-inset-top) + 8px ); }
    .iconButton__container.top.right {
      right: 16px; }
    .iconButton__container.top.left {
      left: 16px; }
  .iconButton__container.bottom {
    bottom: calc( env(safe-area-inset-top) + 8px ); }
    .iconButton__container.bottom.right {
      right: 32px; }
    .iconButton__container.bottom.left {
      left: 32px; }
    .iconButton__container.bottom.middle {
      left: 50%;
      margin-left: -35px; }
  .iconButton__container.projectListSelector {
    z-index: 125; }
    .iconButton__container.projectListSelector i {
      transition: all .3s ease-in-out; }
      .iconButton__container.projectListSelector i[class*="times"] {
        opacity: 0; }
    .iconButton__container.projectListSelector.active .iconButton {
      background-color: #797DDC; }
      .iconButton__container.projectListSelector.active .iconButton i {
        transform: rotate(180deg);
        color: white; }
        .iconButton__container.projectListSelector.active .iconButton i[class*="bars"] {
          opacity: 0; }
        .iconButton__container.projectListSelector.active .iconButton i[class*="times"] {
          opacity: 1; }
  .iconButton__container.cameraOptions > .iconButton {
    display: flex;
    margin-top: 24px;
    transition: all .2s ease-in-out; }
  .iconButton__container.cameraOptions [class*="fa-camera"] {
    opacity: 0; }
  .iconButton__container.cameraOptions.active > .iconButton {
    margin-top: -70px;
    opacity: 0; }
    .iconButton__container.cameraOptions.active > .iconButton:nth-child(3) {
      opacity: 1; }
  .iconButton__container.cameraOptions.active [class*="fa-camera"] {
    opacity: 1; }
  .iconButton__container.cameraOptions.active [class*="fa-pencil-alt"] {
    opacity: 0; }

.projectTitle__container {
  position: absolute;
  top: calc( env(safe-area-inset-top) + 16px);
  left: 50%;
  transform: translate(-50%, 0);
  height: 54px;
  max-height: 54px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  text-align: center;
  border-radius: 27px;
  padding: 0 32px;
  margin: 0 auto;
  z-index: 75;
  -webkit-backdrop-filter: blur(10px); }
  .projectTitle__container .projectTitle {
    line-height: 54px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    color: white;
    transition: all .3s ease-in-out; }
    .projectTitle__container .projectTitle:after {
      margin-left: 16px;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0d7"; }
  .projectTitle__container.purple {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px); }
    .projectTitle__container.purple .projectTitle {
      color: #797DDC; }

.projectSubtitle {
  position: absolute;
  left: 0;
  top: 54px;
  right: 0; }

.projectImageCarousel {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start; }
  .projectImageCarousel .projectImage {
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 6px 44px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    min-width: 300px;
    background-color: white;
    background-size: cover;
    background-image: url("assets/5B2C9603.jpg");
    transition: all 0.6s ease-in-out;
    background-position: top center; }
    .projectImageCarousel .projectImage.hero {
      margin: 0;
      max-height: 100vh;
      max-width: 100vw;
      min-height: 100vh;
      min-width: 100vw;
      border-radius: 0; }

.shutterButton {
  width: 110px;
  height: 110px;
  border: 10px solid white;
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 75;
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color .4s ease-in-out;
  opacity: 0;
  pointer-events: none;
  transition: .2s ease-in-out; }
  .shutterButton.active {
    opacity: 1;
    pointer-events: initial; }
  .shutterButton:hover {
    cursor: pointer; }
  .shutterButton:active {
    background-color: white;
    transition: background-color .05s ease-in-out; }

.iconButton {
  height: 70px;
  width: 70px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  display: none;
  position: relative;
  transition: all .6s ease-in-out; }
  .iconButton > i {
    line-height: 70px;
    width: 70px;
    height: 70px;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .iconButton:hover {
    cursor: pointer; }
  .iconButton.show {
    display: flex; }
  .iconButton.white {
    color: #797DDC;
    background-color: white; }
    .iconButton.white:active, .iconButton.white:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .iconButton.purple {
    background-color: #797DDC;
    color: white; }
    .iconButton.purple:active, .iconButton.purple:hover {
      background-color: #6569d7; }
  .iconButton:active, .iconButton:hover {
    transition: 0s;
    background-color: rgba(0, 0, 0, 0.5); }

.projectList__wrapper {
  position: relative; }
  .projectList__wrapper:before, .projectList__wrapper:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    background: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 100%); }
  .projectList__wrapper:before {
    top: 0; }
  .projectList__wrapper:after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%); }

.project__list {
  padding: 24px 32px 0 32px;
  overflow-y: scroll;
  margin-top: 80px;
  max-height: calc(75vh); }
  .project__list .project__item {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    overflow: hidden;
    margin: 16px 0; }
    .project__list .project__item.active {
      box-shadow: 0 0 0 3px #797DDC, 0 3px 25px rgba(0, 0, 0, 0.12); }
  .project__list .project__thumb {
    width: 100px;
    min-width: 100px;
    height: 100px;
    background-color: #797DDC;
    border-radius: 50%;
    background-image: url("assets/5B2C9603.jpg");
    background-size: cover; }
  .project__list .project__text {
    width: 100%;
    align-self: center;
    padding: 0 26px; }
  .project__list .project__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #797DDC; }
  .project__list .project__reminder {
    color: #828282; }

.settingsMenu {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: scroll;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  transition: right 0.3s ease-in-out, 0s opacity 0.3s ease-in-out;
  z-index: 150;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4); }
  .settingsMenu .settingControls {
    padding-left: 32px;
    padding-right: 32px;
    background-color: transparent;
    position: relative;
    top: 20vh; }
  .settingsMenu .iconButton__container {
    z-index: 250; }
  .settingsMenu.active {
    right: 0;
    transition: right 0.3s ease-in-out, opacity 0s ease-in-out; }

.text--title {
  font-weight: 600;
  color: #797DDC;
  font-size: 18px; }

.text--subtitle {
  color: #828282;
  font-size: 14px;
  font-weight: 200; }

.touch-scrolling {
  -webkit-overflow-scrolling: touch; }

/*# sourceMappingURL=stylesheet.css.map */
