$brand: #797DDC;
$color-gray: #828282;

$iconSize: 70px;
$shutterButtonSize: 110px;

$projectsListIndex: 125;
$controlsIndex: 75;
$projectListIndex: 100;
$cameraViewIndex: 50;
$settingsMenuIndex: 150;

$spaceFromSides: 32px;
$projectTitleHeight: 54px;

$screenRevealSpeed: .3s;


@mixin iconButtonPlacement {
	position: absolute;
	bottom: 40px;
}

@mixin projectImageProperties {
	margin: 0 10px;
	border-radius: 5px;
	box-shadow: 0 6px 44px rgba(0,0,0,.2);
	width: 300px;
	height: 400px;
	min-width: 300px;
}

body {
	color: white;
	font-family: "Avenir";
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-height: 100vh;

	* {
		box-sizing: border-box;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

.screen {
	width: 100vw;
	height: 0;
	position: relative;
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease-in-out;

	&.active {
		height: 100vh;
		opacity: 1;
		pointer-events: initial;
	}

	&.projectList {
		position: fixed;
		top: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		z-index: $projectListIndex;
		transition: all $screenRevealSpeed ease-in-out, 0s opacity $screenRevealSpeed ease-in-out;
		box-shadow: 0 -10px 20px rgba(0,0,0,.4);
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		&.active {
			top: 0;
			transition: all $screenRevealSpeed ease-in-out, 0s opacity ease-in-out;
			border-radius: 0px;
		}
	}

	&.photoOverlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-position: center;
		background-size: cover;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: $cameraViewIndex;
		display: flex;
		align-content: center;
		justify-content: center;
		-webkit-backdrop-filter: blur(10px);
		transition: all .2s ease-in-out;


		&.listMode {

			.projectImageCarousel {
				.projectImage {
					transition: all .6s ease-in-out;

					&:last-child {
						margin: 0 10px;
					    min-height: 400px;
					    min-width: 300px;
					    border-radius: 5px;
					}
				}
			}

		}
	}

}

.appOverlay {
	width: 100vw;
	height: 100vh;
}

.iconButton__container {
	position: fixed;
	z-index: $controlsIndex;

	&.top {
		top: calc( env(safe-area-inset-top) + 8px );

		&.right {
			right: 16px;
		}

		&.left {
			left: 16px;
		}
	}

	&.bottom {
		bottom: calc( env(safe-area-inset-top) + 8px );

		&.right {
			right: $spaceFromSides;
		}

		&.left {
			left: $spaceFromSides;
		}
	}

	&.projectListSelector {
		z-index: $projectsListIndex;

		i {
			transition: all .3s ease-in-out;

			&[class*="times"] {
				opacity: 0;
			}
		}

		&.active {
			.iconButton {
				background-color: $brand;

				i {
					transform: rotate(180deg);
					color: white;

					&[class*="bars"] {
						opacity: 0;
					}

					&[class*="times"] {
						opacity: 1;
					}
				}
			}
		}
	}

	&.cameraOptions {

		> .iconButton {
			display: flex;
			margin-top: 24px;
			transition: all .2s ease-in-out;
		}

		[class*="fa-camera"] {
			opacity: 0;
		}

		&.active {
			> .iconButton {
				margin-top: -70px;
				opacity: 0;

				&:nth-child(3) {
					opacity: 1;
				}
			}

			[class*="fa-camera"] {
				opacity: 1;
			}

			[class*="fa-pencil-alt"] {
				opacity: 0;
			}
		}
	}
}

.projectTitle__container {
	position: absolute;
	top: calc( env(safe-area-inset-top) + 16px);
	left: 50%;
	transform: translate(-50%, 0);
    height: $projectTitleHeight;
    max-height: $projectTitleHeight;
    background-color: rgba(255,255,255,.9);
    border-radius: 50%;
    text-align: center;
    border-radius: 27px;
    padding: 0 32px;
    margin: 0 auto;
    z-index: $controlsIndex;
    -webkit-backdrop-filter: blur(10px);
}

.projectTitle {
    line-height: $projectTitleHeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.projectSubtitle {
	position: absolute;
	left: 0;
	top: 54px;
	right: 0;
}

.projectImageCarousel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: flex-end;

	.projectImage {
		@include projectImageProperties();
		background-color: white;
		background-size: cover;
		background-image: url("assets/5B2C9603.jpg");
		transition: all .4s ease-in-out;
		background-position: top center;

		&:last-child {
			margin: 0;
			max-height: 100vh;
			max-width: 100vw;
		    min-height: 100vh;
		    min-width: 100vw;
		    border-radius: 0;
		}
	}
}

.shutterButton {
	width: $shutterButtonSize;
	height: $shutterButtonSize;
	border: 10px solid white;
	position: fixed;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50%;
	z-index: $controlsIndex;
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(0,0,0,.1);
	transition: background-color .4s ease-in-out;
	opacity: 0;
	pointer-events: none;
	transition: .2s ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: initial;
	}

	&:hover {
		cursor: pointer;
	}

	&:active {
		background-color: rgba(white, 1);
		transition: background-color .05s ease-in-out;
	}
}

.iconButton {
    height: $iconSize;
    width: $iconSize;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.3);
    outline: none;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
	-webkit-backdrop-filter: blur(10px);
	display: none;
	position: relative;
	transition: all .6s ease-in-out;

    > i {
    	line-height: $iconSize;
    	width: $iconSize;
    	height: $iconSize;
    	pointer-events: none;
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
    }

    &:hover {
    	cursor: pointer;
    }

    &.show {
    	display: flex;
    }

    &.purple {
		color: $brand;
		background-color: white;

	    &:active,
	    &:hover {
	    	background-color: rgba(black,.1);
	    }
    }

    &:active,
    &:hover {
    	transition: 0s;
    	background-color: rgba(black,.5);
    }
}

.projectList__wrapper {
	position: relative;

	&:before,
	&:after {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: 24px;
		background-color: rgba(white, .5);
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom:0;
		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	}
}

.project__list {
	padding: 24px 40px 0 40px;
	overflow-y: scroll;
	margin-top: 80px;
	max-height: calc(75vh);

	.project__item {
	    width: 100%;
	    height: 100px;
	    border-radius: 50px;
	    background-color: white;
	    box-shadow: 0 3px 25px rgba(black, .12);
	    display: flex;
	    overflow: hidden;
	    margin: 16px 0;

		&.active {
		    box-shadow: 0 0 0 3px $brand, 0 3px 25px rgba(black, .12);
		}
	}

    .project__thumb {
    	width: 100px;
    	min-width: 100px;
    	height: 100px;
    	background-color: $brand;
    	border-radius: 50%;
		background-image: url("assets/5B2C9603.jpg");
		background-size: cover;

    }

    .project__text {
    	width: 100%;
    	align-self: center;
    	padding: 0 26px;
    }

    .project__title {
    	margin-bottom: 10px;
    	font-weight: 600;
    	font-size: 18px;
    	line-height: 1;
    	color: $brand;
    }

    .project__reminder {
    	color: $color-gray;
    }
}

.settingsMenu {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: scroll;
	background-color: white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 100%;
	transition: right $screenRevealSpeed ease-in-out, 0s opacity $screenRevealSpeed ease-in-out;
	z-index: $settingsMenuIndex;
	box-shadow: 0 -10px 20px rgba(0,0,0,.4);

	.settingControls {
		padding-left: $spaceFromSides;
		padding-right: $spaceFromSides;
		background-color: transparent;
		position: relative;
		top: 20vh;
	}

	.iconButton__container {
		z-index: $settingsMenuIndex + 100;
	}

	&.active {
		right: 0;
		transition: right $screenRevealSpeed ease-in-out, opacity 0s ease-in-out;
	}
}

.text--title {
    font-weight: 600;
    color: $brand;
    font-size: 18px;
}

.text--subtitle {
	color: $color-gray;
	font-size: 14px;
	font-weight: 200;
}